<!DOCTYPE html>
<html>
<head>
    <title>Dentist App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='myStyle.css') }}">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('main.patient_list') }}">Patients List</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if current_user.is_authenticated %}
    <div id="user_name">
        <p>welcome {{current_user.name}}</p>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>
